

.container-topico {
  background-color: #fff;
  height: 100vh;
}


.titulo-topico {
  background-color: #fff;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: calc(9vh - 1px);
  z-index: 1;
}


.titulo-topico ul {
  padding-right: 3.5rem;
  list-style-type: disc;
  width: 100%;
  
}

.titulo-topico ul li {
  list-style-position: inside;
  text-align: center;
}

.titulo-topico ul li::marker {
  color: #2F735E;
}


.titulo-topico hr {
    width: 87%;
    height: 2px;
    margin: 10px auto 10px;
    border-radius: 10px;
    background-color: #26988680;
    border: none;
}

.titulo-topico-atual {
  color: #2F735E;
  font-size: 27px;
  font-weight: bold;
  padding: 30px 0 0;

}

.container-video {
  height: 100%;
  width: 85%;
}
.div-slide {
  width: 67.5%;
  height: 100%;
  display: flex;
  justify-content: center;
}

main {
  background-color: #fff;
  height: 68vh;
  display: flex;
  border-bottom: 2px solid rgba(143, 203, 191, 1);
}

.recursos-complementares {
  height: 84%;
  width: 19%;
  border-radius: 15px;
  background-color: #fff;
  padding: 30px;
  max-width: 300px;
  box-shadow: rgba(50, 50, 93, .25) 0px 6px 12px -2px, rgba(0, 0, 0, .3) 0px 3px 7px -3px;
}

.title {
    color: #2F735E;
    text-align: center;
    text-shadow: -5px 5px 5px rgba(0, 0, 0, .25);
    font-family: var(fontCustom);
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 5px;
    border-bottom: 2px solid #2F735E;
}

.section-texto
 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
}



.recursos-complementares , .botoes-baixo ,.saibaMais, .textoApoio, .referencias {
  display: flex;
  
}

.botoes-cima {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.recursos-complementares {
  flex-direction: column;
  justify-content: space-around;
  row-gap: 30px;
}

button:hover {
  cursor: pointer;
}

.botoes-cima {
  justify-content: space-around;
}

.botoes-baixo {
  justify-content: center;
}

.saibaMais, .textoApoio, .referencias {
  width: 90%;
  height: 38px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 4px 0.5px rgba(0, 0, 0, 0.50);
  cursor: pointer;
  color: #2F735E;
  border: none;
  position: relative;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

.buttons-final {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.atividade-botao {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12.559px;
  border: none;
  border-radius: 7.177px;

  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 15.25px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 22px;
  width: 90%;
  height: 40px;
  cursor: pointer;
  background: linear-gradient(90deg, #2F735E 0%, #196D53 100%), #2F735E;
  
}

.ebook-botao {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12.559px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
  width: 90%;
  border: 2px solid #2F735E;
  text-decoration: none;
  color: #2F735E;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}



.atividade-botao,
.ebook-botao {
  box-sizing: border-box;
}

.sem-topico {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  height: 80vh;
  align-content: center;
  color: #fbfbfb;
  font-size: 21px;
  /* margin-top: 10vh; */
  padding-top: 10vh;
}