.wrapper {
    width: 240px;
    border-radius: 15px;
    background: linear-gradient(90deg, #27A36D 0%, #116259 100%);
    padding-top: 7px; /* espessura da "borda" */

}

.card {
    border-radius: 15px;
    background: linear-gradient(180deg, #FFFFFF 0%, #EEFFFC 100%);
    color: #03422F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 200px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.titulo {
    text-align: center;
    padding: 10px 10px 0 10px;
}


.status-publicado {
  color: #33B727;
}

.status-nao-publicado {
  color: #E45A5A;
}

.check-publicado {
    display: flex;
    gap: 10px;
}

.botao {
    height: 40px;
    width: 195px;
    border-radius: 7px;
    background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%);
    border: none;
    color: #fff;
    text-align: center;
    font-family: var(fontCustom);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.botao:hover {
    cursor: pointer;
    opacity: 50%;
}

