.titulo {
  display: flex;
  height: 55px;
  padding: 0 25px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  /* border-left: 8px solid var(--Primaria, #9665df); */
  border-radius: 35px;
  background: linear-gradient(90deg, #FFF 0%, #EEFFFC 100%);
  box-shadow: 1px 1px 5.267px 2px rgba(0, 0, 0, 0.15);
}
h1 {
  color: var(--Terciaria, #03422F);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
button {
  cursor: pointer;
  border-radius: 5.118px;
  background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%), #2F735E;
;
  outline: none;
  border: none;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

button mat-icon {
  color: white;
}
p{
  margin-top: 30px;
  color: #03422F;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
mat-divider{
  background-color: #227272;
  margin: 30px 0;
}
