<div class="container-background">
  <div class="container-usuarios">
  <app-titulo-secao
    titulo="Cadastrar usuário"
    caminhoUrl="/tecnocomp/cadastros/cadastro-usuario"
    [quantidade]="pagination.totalItems"
    nomeCard="usuários"
  ></app-titulo-secao>

  <div class="container-cards-users" *ngIf="usuarios.length > 0">
    <div class="card" *ngFor="let usuario of usuarios">
      <app-cards-usuarios [user]="usuario"  (excluirUsuario)="excluirUsuario($event)"></app-cards-usuarios>
    </div>
  </div>

  <!-- Componente de paginação reutilizável -->
  <app-pagination
    class="pagination"
    [pagination]="pagination"
    noItemsMessage="Nenhum usuário encontrado"
    itemsLabel="usuários"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>

</div>
