.cadastro-modulo-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9FFF9;
  height: 88vh;
}

.container-wrapper {
  
  background: linear-gradient(90deg, #27A36D 0%, #116259 100%);
  border-radius: 40px;
  width: 50%;
  padding-top: 8px !important;
}

.cadastro-modulo-container {
  box-sizing: border-box;
  background: linear-gradient(180deg, #FFF 0%, #EEFFFC 100%);

  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  border-radius: 40px;
  padding: 0 2.5rem;
  
}

.mensagem-validacao {
  font-size: 11px;
  color: #ff4d4f;
  margin-top: -6px; /* puxa a mensagem para cima */
  line-height: 1;
  min-height: 12px;
}

input.ng-invalid.ng-touched {
  border: 1px solid #ff4d4f;
  outline: none;
}



.cadastro-modulo-titulo,
.cadastro-modulo-label {
  color: #03422F;
  padding: 10px 0;
}

.cadastro-modulo-titulo {
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid #27A36D;
}

.cadastro-modulo-aviso {
  padding-top: 20px;
}

.cadastro-modulo-label span,
.cadastro-modulo-aviso {
  color: #C64C4C;
}

.cadastro-modulo-campos-inline,
.cadastro-modulo-campo {
  display: flex;
  width: 100%;
  padding: 5px 0px;
}


.cadastro-modulo-campos-inline {
  justify-content: space-between;
}

.cadastro-modulo-campos-inline .cadastro-modulo-campo {
  width: 48%;
}


.cadastro-modulo-campo {
  flex-direction: column;
  
}

.cadastro-modulo-input {
  height: 35px;
  border-radius: 10px;
  border: 1px solid #27A36D;
  background: #FFF;
  color: #03422F;
  align-content: center;
  padding-left: 10px;
}

.cadastro-modulo-input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.cadastro-modulo-buttons {
  display: flex;
  justify-content: end;
  column-gap: 20px;
  padding: 30px 0;
}

.cadastro-modulo-buttons button {
  padding: 7px;
  width: 145px;
  border: none;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}
.btn-wrapper {
  display: inline-block;
  padding: 2px; /* espessura da borda */
  border-radius: 10px;
  background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%);
}


#botao-um {
 border: none;
 background:#fff;
}

#botao-um {
  display: block;
  padding: 10px 20px;
  border: none;
  border-radius: 8px; /* menor que o wrapper */
  background: #fff;
  cursor: pointer;

 
}

#botao-um span {
   background: linear-gradient(90deg, #27A36D, #116259);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#botao-um:hover span {
  background: none; /* remove o gradiente */
  -webkit-text-fill-color: #fff;
  color: #fff;
}

#botao-um:hover {
  background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%), #2F735E;
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;

 
}



#botao-dois {
  border-radius: 10px;
  background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%), #2F735E;
;
}

#botao-dois:hover {
  opacity: 50%;
}




/*
.cadastro-modulo-container form div {
  margin-bottom: 15px;
}

.cadastro-modulo-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.cadastro-modulo-container input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
} */

#file-upload-button {
  background-color: transparent;
}

/* .upload-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 10px 16px;
  background-color: #3F3F40;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;

  transition: background 0.2s;
}

.upload-btn:hover {
  background-color: #4338ca;
} */

/* Esconde o input */


/* Estilização do Input do Ebook */
.file-field #ebookUrlGeral::file-selector-button {
  background-color: transparent;
  color: #27A36D;
  border: 2.5px solid #27A36D;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 700;
  border-radius: 8px;
  padding: 4px 15px;
  cursor: pointer;
  margin-right: 10px;
}

.file-field #ebookUrlGeral::file-selector-button:hover {
  background-color: #27A36D;
  color: #fff;
}

/* Oculta o texto nativo e remove o fundo individual para usar o do wrapper */
#ebookUrlGeral {
  margin-left: 15px;
  color: transparent !important;
  width: 160px;
  background-color: transparent !important;
  padding: 0 !important;
  border: none !important;;
}

/* Container que mantém o fundo cinza atrás do botão e do texto */
.file-input-wrapper {
  display: flex;
  align-items: center;
  border-radius: 10px;
border: 1px solid #27A36D;
background: #FFF;
  height: 35px;
  gap: 10px;

}

.file-field .cadastro-modulo-label {
  width: 100%;
}

.file-status-text {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 175px);
}


.carregando-registro {
  height: 88vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}