<div class="container-background">
  <div class="container-modulos">
  <app-titulo-secao
    titulo="Cadastrar módulo"
    caminhoUrl="/tecnocomp/cadastros/registrar-modulo"
    [quantidade]="pagination.totalItems"
    nomeCard="módulos"
  ></app-titulo-secao>
  <div class="container-cards" *ngIf="modulos.length > 0">
    
    <div class="container-cards-modulos" [ngClass]="{'cards-modulos': !this.isOpenDrawer}">
      <div class="card" *ngFor="let modulo of modulos" >
        <app-cards-modulos [modulo]="modulo" (excluirModulo)="excluirModulo($event)"></app-cards-modulos>
      </div>
    </div>
  </div>
  
  <!-- Componente de paginação reutilizável -->
  <app-pagination 
  class="pagination"
    [pagination]="pagination"
    noItemsMessage="Nenhum módulo encontrado"
    itemsLabel="módulos"
    (pageChange)="onPageChange($event, this.quantidadeItens)">
  </app-pagination>
</div>



</div>