.container-background {
  height: 88vh;
  background: #F9FFF9;
}

.container-cadastro{
  width: 90%;
  margin: 0 auto;
  padding-top: 40px;
  color: white;
  
}


.sub-box{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 50px;

}
.sub-box-cards p{
  margin-bottom: 40px;
  margin-top: 60px;
}
.cards{
  display: flex;
  gap: 40px;
}

p {
  width: 100%;
  border-bottom: 2px solid #227272;
  font-size: 20px;
  padding-bottom: 50px;
}


