<div class="header-recursos-complementares">
  <div class="container-links">
    <div class="header-links">
      <!-- Imagem do ícone de download do ebook -->
      <img
        [src]="icone
        "
        alt="Icone para download do ebook"
      
      />
      <p class="titulo">{{ texto }}</p>
    </div>
  </div>
  <!-- ícone que quando clicado volta para a página geral da unidade -->
  <button style="border: none; background-color: transparent;" class="icone-close">
    <img
    routerLink="../"
    src="../../../../../assets/icons/close-icon.svg"
    alt="Icone para ir para a atividade da unidade"
    width="30px"
    height="30px"
  />
  </button>
</div>