<app-header-voltar texto="Cadastrar Plataforma"></app-header-voltar>
<div class="container-background">
  <div class="cadastro-plataforma-pagina">
  <div class="container-wrapper">
    <section class="cadastro-plataforma-container" *ngIf="!carregando; else tela">
    <h2 class="cadastro-plataforma-titulo">Cadastro de Plataforma</h2>
    <p class="cadastro-plaforma-aviso">*Indica uma pergunta obrigatória</p>
    <form
      [formGroup]="plataformaForm"
      class="forms"
      #formDir="ngForm"
    >
      <div class="forms-campo">
        <label for="plataformaNome" class="cadastro-plataforma-label">Nome da Ferramenta <span class="obrigatorio">*</span></label>
        <input class="cadastro-plataforma-input" type="text" formControlName="plataformaNome" placeholder="Nome da ferramenta"/>
        <div
          *ngIf="
            plataformaForm.get('plataformaNome')?.invalid &&
            plataformaForm.get('plataformaNome')?.touched
          "
        >
          <small class="mensagem-validacao">
            Nome é obrigatório e deve ter pelo menos 3 caracteres.
          </small>
        </div>
      </div>
      <section class="campos-inline">
        <div class="forms-campo">
          <label for="plataformaUrl" class="cadastro-plataforma-label">URL da Plataforma <span class="obrigatorio">*</span></label>
          <input class="cadastro-plataforma-input" type="text" formControlName="plataformaUrl" placeholder="URL da plataforma"/>
          <div
            *ngIf="
              plataformaForm.get('plataformaUrl')?.invalid &&
              plataformaForm.get('plataformaUrl')?.touched
            "
          >
            <small class="mensagem-validacao">URL é obrigatória e deve ser válida.</small>
          </div>
        </div>
        <div class="forms-campo">
          <label for="idCliente" class="cadastro-plataforma-label">ID do Cliente <span class="obrigatorio">*</span></label>
          <input class="cadastro-plataforma-input" type="text" formControlName="idCliente" placeholder="Id do cliente"/>
          <div
            *ngIf="
              plataformaForm.get('idCliente')?.invalid &&
              plataformaForm.get('idCliente')?.touched
            "
          >
            <small class="mensagem-validacao">ID do cliente é obrigatório.</small>
          </div>
        </div>
      </section>
      <!-- <div class="forms-campo">
        <label for="temaTipo"
          >Tema Visual <span class="obrigatorio">*</span></label
        >
        <select id="temaTipo" formControlName="temaTipo">
          <option value="padrao">Padrão</option>
          <option value="tema1">Tema 1</option>
          <option value="tema2">Tema 2</option>
          <option value="customizado">Personalizado</option>
        </select>
      </div> -->

      <!-- Campos de cor visíveis apenas se temaTipo === 'customizado' -->
      <!-- <div
        *ngIf="plataformaForm.get('temaTipo')?.value === 'customizado'"
        class="forms-campo"
      >
        <label>Cores personalizadas:</label>

        <input type="color" formControlName="customPrimaria" title="Primária" />
        <input
          type="color"
          formControlName="customSecundaria"
          title="Secundária"
        />
        <input
          type="color"
          formControlName="customTerciaria"
          title="Terciária"
        />
        <input
          type="color"
          formControlName="customQuartenaria"
          title="Quartenária"
        />
        <input
          type="color"
          formControlName="customQuintenaria"
          title="Quintenária"
        />
      </div> -->

      <div class="buttons">
        <div class="btn-wrapper">
          <button (click)="voltarPagina()" id="botao-um"><span>Cancelar</span></button>
        </div>
  
        <button type="submit" id="botao-dois" (click)="onSubmit()">Cadastrar</button>
      </div>
    </form>
  </section>
  <ng-template #tela>
    <div class="carregando-registro">
      <h2 class="">Cadastrando plataforma...</h2>
    </div>
  </ng-template>
  </div>
</div>

</div>