.cadastro-plataforma-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9FFF9;
  height: 88vh;
}

.container-wrapper {
  background: linear-gradient(90deg, #27A36D 0%, #116259 100%);
  border-radius: 40px;
  width: 50%;
  padding-top: 8px !important;
}

.cadastro-plataforma-container {
  background: linear-gradient(180deg, #FFF 0%, #EEFFFC 100%);
  box-sizing: border-box;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  border-radius: 40px;
  padding: 0 2.5rem;
}

.cadastro-plaforma-aviso {
  padding: 25px 0 10px 0;
}

.cadastro-plataforma-titulo, .cadastro-plataforma-label {
  color: #03422F;
  padding: 10px 0;
}

.cadastro-plataforma-titulo{
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid #27A36D;
}

.cadastro-plataforma-label span, .cadastro-plaforma-aviso, .validators {
  color: #ff4d4f;
}

.forms-campo {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.campos-inline {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}

.cadastro-plataforma-input {
  height: 35px;
  border-radius: 10px;
border: 1px solid #27A36D;
background: #FFF;
  color: #03422F;
  padding-left: 10px;
  margin: 8px 0;
}

.mensagem-validacao {
  font-size: 11px;
  color: #ff4d4f;
  margin-top: -6px; /* puxa a mensagem para cima */
  line-height: 1;
  min-height: 12px;
}

input.ng-invalid.ng-touched {
  border: 1px solid #ff4d4f;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding: 30px;
}

.buttons button {
  padding: 7px;
  width: 145px;
  border: none;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}

.btn-wrapper {
  display: inline-block;
  padding: 2px; /* espessura da borda */
  border-radius: 10px;
  background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%);
}



#botao-um {
  display: block;
  padding: 10px 20px;
  border: none;
  border-radius: 8px; /* menor que o wrapper */
  background: #fff;
  cursor: pointer;
}

#botao-um span {
   background: linear-gradient(90deg, #27A36D, #116259);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#botao-um:hover span {
  background: none; /* remove o gradiente */
  -webkit-text-fill-color: #fff;
  color: #fff;
}



#botao-um:hover {
  background:  linear-gradient(90deg, #27A36D 0%, #2F735E 100%);

}

#botao-dois {
  border-radius: 10px;
  background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%);
  
}

#botao-dois:hover {
  opacity: 50%;
}

 .validators {
  text-align: center;
  padding-bottom: 10px;
 }

 
.carregando-registro {
  height: 88vh;
  color: #03422F;
  display: flex;
  justify-content: center;
  align-items: center;
}