* {
  color: #FFFFFF;
}


.container {
    background: #FFFFFF;
    min-height: 88vh;
}

.descricao {
    font-size: 20px;
    text-align: center;
    padding: 4.4rem 0;
    color: #03422F;
}

.lista-modulos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin-bottom: 1.5rem;
}


@media(max-width: 1064px){
    .lista-modulos {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }


    .descricao {
        font-size: 20px;
        padding: 1.4rem 0;
    }
}

@media(max-width: 533px){
    .lista-modulos {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
    .container {
        padding-bottom: 10px;
    }
}

