<app-header-recursos-complementares icone="../../../../assets/icons/icone-ref-proex.png" texto="Referências Bibliográficas"></app-header-recursos-complementares>
<div class="container-links-text">
  <p class="container-links-text-p" *ngIf="referencias.length > 0; else semReferencia">
    Na seção Referências Bibliográficas, você encontrará todas as fontes e autores que fundamentam o conteúdo. Aqui você tem acesso às bases que sustentam nosso trabalho.
  </p>
  <ul class="container-links-text-lista" *ngIf="referencias" >
    <!-- ngFor que percorre as imagens de referências do livro -->
    <li *ngFor="let item of referencias">
      <div *ngIf="item.link && item.descricao" class="referencias-div">
        <!-- <img [src]="item.link" alt="img da referencia do livro"> -->
        <p matTooltip={{ item.descricao }} >{{ item.descricao | slice: 0 : 150 }}...</p>
      </div>
    </li>
  </ul>
  <ng-template #semReferencia>
    <p class="sem-referencia">
      Nenhuma referência cadastrada
    </p>
  </ng-template>
</div>
