.titulo {
    color: #03422F;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0 5px 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mensagem {
    color: #03422F;
    margin: 0 auto;
    text-align: center;
}

.botoes {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.botoes button {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.cancelar {
    border: 3px solid #27A36D;
    background-color: transparent;
    color: #27A36D !important;
}

.cancelar:hover {
    border: none;
    background: linear-gradient(90deg, #27A36D 0%, #116259 100%);
    color: #FFF !important;
}


.salvar {
    border: none;
    background: linear-gradient(90deg, #27A36D 0%, #116259 100%);

}

.salvar:hover {
    opacity: 50%;
}

button:focus {
  outline: none;
}
