<form>

  <h2 mat-dialog-title class="h2_exclui">
    Excluir {{ data.titulo }}
  </h2>

  <div>
    <div class="senha-adm" >
      <p class="p_senha">Para confirmar, digite o nome do(a) {{ data.titulo }} abaixo:</p>
      <input [placeholder]="placeholder" [formControl]="palavraConfirmacao"  type="text" />
      <div class="caixa-validacao">
        <span class="mensagem-validacao"
        *ngIf="palavraConfirmacao.invalid && palavraConfirmacao.touched">
        Preencha o campo
    </span>
      </div>
      
    </div>

  </div>

  <mat-dialog-actions>
    <div class="btn-wrapper">
      <button type="button" id="botao-um"  (click)="onCancelar()">
      <span>Cancelar</span>
     </button>
    </div>
    

    <button type="button" id="botao-dois" (click)="onConfirmar()">
      Confirmar
    </button>

    
  </mat-dialog-actions>

</form>

