* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Botão flutuante */
#chat-button {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 43px;
  right: 42px;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 28px;
  cursor: pointer;
  z-index: 3;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

#chat-button:hover {
  transform: scale(1.15);
  box-shadow: 0 0 18px #2F735E;;
}

.chat-icon{
  width: 80px;
  height: 80px;
  display: block;
}

/* Container do chat */
#chat-container {
  display: none;
  flex-direction: column;
  height: 80%;
  min-width: 33%;
  position: fixed;
  bottom: 29px;
  right: 35px;
  /* border: 1px solid #2F735E; */
  border-radius: 15px;
  box-shadow: 0 0 3px #2F735E;
  overflow: hidden;
  z-index: 4;
  background: #F9FFF9;

}

#chat-messages::before {
  content: "";
  flex-grow: 1;
}

.chat-container-open {
  display: flex !important;
}


/* Header */
#chat-header {
  display: flex;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: linear-gradient(90deg, #206377 0%, #247E6E 50.96%, rgba(39, 163, 109, 0.10) 100%), #27A36D;
box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 10px 32px;
  /* border-bottom: 1px solid #1B1B1B; */
  font-family: Arial;
}

.header-text{
  padding: 0 10px;
}

.header-text-title{
  color:#fff;
  font-weight: bold;
  font-size: 20px;
}

.header-text-descricao{
  font-size: 16px;
  margin-top: 3px;

}

.button-redimensionar{
  position: absolute;
  top: 10px;
  left: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  background-size: contain;
  background-repeat: no-repeat;
}

.button-redimensionar:hover{
  background-image: url("../../../../assets/icons/redimensionar-branco.svg");
}

.chat-avatar img{
  height: 65px;
}

/* Botão X */
.chat-close {
  position: absolute;
  top: 10px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 27px;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  padding-bottom: 28px;
  font-size: 24px;
}

.chat-close:hover {
  background-color: #fff;
  color: #27A36D;
}


/* Área das mensagens */
#chat-messages {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  padding: 25px 20px 12px;
  overflow-y: auto;
  font-size: 14px;
}


#chat-messages::-webkit-scrollbar {
  width: 6px;
}


#chat-messages::-webkit-scrollbar-track {
  background: transparent;
}

#chat-messages::-webkit-scrollbar-thumb {
  background: #2F735E; 
  opacity: 50%;
  border-radius: 5px;
}


#chat-messages::-webkit-scrollbar-thumb:hover {
  opacity: 70%;
}


.chat-assistente-mensagens {
  justify-content: center;
}


.message {
  display: inline-block;
  word-wrap: break-word;
  max-width: 80%;
  padding: 10px 14px;
  border-radius: 18px;
  font-size: 15px;
  line-height: 1.4;
  border: 1px solid #a56cff;
  color: #fff;
  border-radius: 18px 18px 18px 4px;
}

.user-message {
  align-self: flex-end;
  background: linear-gradient(90deg, #206377 0%, #247E6E 50.96%, rgba(39, 163, 109, 0.10) 100%), #27A36D;
  color: #fff;
  border: none;
  border-radius: 18px 18px 4px 18px;
  box-shadow: 0 0 6px #27A36D;
}

.chat-assistente {
  align-self: flex-start;
  background-color: #fff;
  max-width: 80%;
  padding: 10px 14px;
  font-size: 15px;
  border: 1px solid #27A36D;
  color: #000;
  border-radius: 18px 18px 18px 4px;
}

/* Campo de footer */
#chat-footer {
  display: flex;
  padding: 15px;
  background-color: #fff;
  gap: 8px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 0;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.50);
}


#chat-input {
  flex: 1;
  border: 1px solid #767676;
  padding: 10px;
  background-color: #fff;
  color: #000000;
  outline: none;
  border-radius: 20px;
}

#chat-send {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #767676; /* cor inativa */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: not-allowed;
  padding: 0;
}

.send-icon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

/* Botão ativo (quando o usuário digita algo) */
#chat-send.active {
  background: linear-gradient(90deg, #206377 0%, #247E6E 50.96%, rgba(39, 163, 109, 0.10) 100%), #27A36D;;
  cursor: pointer;
}

#chat-send.active .send-icon {
  opacity: 1;
  filter: brightness(0) invert(1);
}

.carregando-mensagem {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 10px 14px;
}

.carregando-mensagem span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: linear-gradient(90deg, #206377 0%, #247E6E 50.96%, rgba(39, 163, 109, 0.10) 100%), #27A36D;
  opacity: 0.3;
  animation: typing 1.4s infinite ease-in-out;
}

.carregando-mensagem span:nth-child(1) { animation-delay: 0s; }
.carregando-mensagem span:nth-child(2) { animation-delay: .2s; }
.carregando-mensagem span:nth-child(3) { animation-delay: .4s; }

@keyframes typing {
  0%   { opacity: 0.3; }
  50%  { opacity: 1; }
  100% { opacity: 0.3; }
}

@media (max-width: 1024px) {
    .chat-container-open {
        min-width: 40% !important;
    }
}

@media (max-width: 708px) {
    .chat-container-open {
        min-width: 50% !important;
    }
}

@media (max-width: 554px) {
    .chat-container-open {
        width: 62% !important;
    }
    .button-redimensionar {
      display: none;
    }
}

@media (max-width: 454px) {
    .chat-container-open {
        width: 85% !important;
    }
    
}