<app-header-oficial></app-header-oficial>
<div class="container">
  <div class="container-conteudo">
    <div class="container-cima">
      <h1>Ficha Técnica</h1>
      <hr style="background-color: #03422F" />
      <div class="bloco">
        <h2>Nome do Módulo:</h2>
        <p>{{ this.verAoVivo.dados_completos.nome_modulo }}</p>
      </div>
      <hr style="background-color: rgba(39, 163, 109, 0.53);" />
      <div *ngFor="let equipe of this.verAoVivo.dados_completos?.FichaTecnica?.Equipes">
          <div class="equipe">
              <h2>{{ equipe.nome }}:</h2>
              <div class="bloco" *ngFor="let membro of equipe?.Membros">
                <h2>{{ membro?.cargo }}:</h2>
                <p>{{ membro?.nome }}</p>
              </div>
              <hr style="background-color: rgba(39, 163, 109, 0.53);" />
      </div>
          </div>
      </div>
    
    <div class="laboratorios">
      <div class="bloco">
        <h2>Laboratorios envolvidos:</h2>
        <p>Laboratorio de Design</p>
        <p>Laboratorio de Midia</p>
        <hr style="background-color: rgba(39, 163, 109, 0.53);" />
      </div>

      <div class="bloco">
        <h2>Financiamento:</h2>
        <h2>
          Este projeto foi realizado com recursos oriundos dos seguintes
          editais:
        </h2>
        <p>
          Edital 073/2023-GR/UEA - Programa de Apoio ao Desenvolvimento da
          Extensão Universitária (PADEX)
        </p>
        <p>
          Edital 024/2023-GR/UEA - Programa de Apoio à Iniciação Científica
          (PAIC/FAPEAM)
        </p>
        <p>
          Edital 053/2024-GR/UEA - Programa de Tutoria em Laboratórios de
          Pesquisa e Ensino da UEA (PROTLAB/UEA)
        </p>
      </div>
      <div class="bloco">
        <h2>
          Universidade do Estado do Amazonas(UEA), Centro de Estudos Superiores
          de Itacoatiara(CESIT).
        </h2>
        <p>
          Av. Mário Andreazza, 2960 - Jardim Florestal - 69100-000 - Itacoatiara
          - AM
        </p>
        <hr  style="background-color: rgba(39, 163, 109, 0.53);" />
      </div>
      <div class="bloco">
        <h2>Licença:</h2>
        <p>Este módulo está licenciado sobre:</p>
        <p>Creative Commons 4.0</p>
        <img
          src="../../../../assets/icons/ficha-tecnica-icon.svg"
          alt="licença"
        />
      </div>
    </div>
  </div>
</div>
<app-footer-ficha></app-footer-ficha>
