/* @font-face {
  font-family: minhaFonte;
  src: url("../../../../../assets/fonteProjetoLinks.ttf");
} */

.container {
  width: 100%;
  border-bottom: 1px solid var(--22, #1c1c1c);
  position: fixed;
  box-sizing: border-box;
  z-index: 2;
}
.header {
  display: flex;
  width: 100%;
  height: calc(10vh - 1px);
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-image: url('../../../../../assets/imgs/fundo_header.png');
  background-size: cover;
}
.header img {
  display: flex;
  /* width: 210px; */
  align-items: center;
  cursor: pointer;
  max-height: 48px;
  height: 79;
  width: 180px;
  padding: 5px 0;
  margin-left: 1rem;
  cursor: pointer;
}
.header nav {
  display: flex;
  align-items: center;
  color: #fff;
}
.header nav ul {
  display: flex;
  align-items: center;
}
.header ul li {
  list-style: none;
}
.header ul li button {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: white;
}
.end-navbar {
  display: flex;
  align-items: center;
  /* gap: 40px; */
}
.container-foto-header {
  display: flex;
  padding: 2px;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  background: #fff;
  margin-right: 20px;
}
.foto-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 28px;
  border: 1px solid rgba(0, 102, 50, 1);
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.icon-home {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  color: white;
  cursor: pointer;
}


/* Responsivo */
/* Começa a quebrar com 900px de width, implementar o menu hamburguer */
@media (max-width: 900px) {
}
