<div class="container">
  <header class="header">
    <img src="assets/imgs/logo-mboepi-uea.svg" alt="Tecnocom+ LOGO" routerLink="/ver-ao-vivo/{{verAoVivoService.dados_completos.id}}"/>
    
    <div class="end-navbar">
      <img src="../../../../../assets/icons/home.svg" alt="" width="22px" height="24px" class="icon-home" routerLink="/ver-ao-vivo/{{verAoVivoService.dados_completos.id}}">
      <div
        *ngIf="this.verAoVivoService.perfilUser == false"
        class="container-foto-header"
      >
        <div class="foto-header">
          <p style="font-family: 'Inter';">{{ this.getUsuarioDados().username[0] }}</p>
          
        </div>
        <mat-icon
          style=" cursor: pointer"
          (click)="this.verAoVivoService.abreMenuUser(); $event.stopPropagation()"
        >
          keyboard_arrow_down
        </mat-icon>
      </div>
      <app-perfil-user
        *ngIf="this.verAoVivoService.perfilUser == true"
      ></app-perfil-user>
      
    </div>
  </header>
</div>
