<div class="container-background">
  <div class="container-modulos">

    <div class="titulo-template">
      <h1>Selecione um Template que queira usar.</h1>
    </div>
    <mat-divider></mat-divider>

    <div class="container-cards-modulos">
      <div class="card" *ngFor="let modulo of modulos">
        <app-cards-template [modulo]="modulo"></app-cards-template>
      </div>
    </div>
  </div>
  <!-- Componente de paginação reutilizável -->
  <app-pagination 
  class="pagination"
    [pagination]="pagination"
    noItemsMessage="Nenhum template"
    itemsLabel="template"
    (pageChange)="onPageChange($event, this.quantidadeItens)">
  </app-pagination>
</div>
