<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer mode="side" [opened]="isDrawerOpen" class="sidenav">
    <div class="logo">
      <img src="assets/imgs/logo-mboepi-uea.svg" alt="logo" />
    </div>
    <div class="titulo">
      <p style="color: #FFF;">Menu</p>
      <mat-divider></mat-divider>
    </div>
    <mat-nav-list class="nav-list">
      <a routerLink="/tecnocomp/meu-perfil" routerLinkActive="active">
        <img src="../../../assets/icons/icone-estrela-perfil.png" alt="ícone de perfil">
        Meu perfil
      </a>
      <a routerLink="/tecnocomp/cadastros" routerLinkActive="active">
        <img src="../../../assets/icons/icone-cadastrar.png" alt="ícone de cadastro">
        Cadastrar
      </a>
      
      <a routerLink="/tecnocomp/templates" routerLinkActive="active">
        <img src="../../../assets/icons/icone-template-novo.png" alt="ícone de templates">
        Templates
      </a>
      <!-- Administrador -->
      <a *ngIf="isAdmin" routerLink="/tecnocomp/usuarios" routerLinkActive="active">
        <img src="../../../assets/icons/user_icone.png" alt="ícone de usuário">
        Usuarios
      </a>
      <a *ngIf="isAdmin" routerLink="/tecnocomp/modulos" routerLinkActive="active">
        <mat-icon svgIcon="modulos"></mat-icon>
        Modulos
      </a>
      <a *ngIf="isAdmin" routerLink="/tecnocomp/plataformas" routerLinkActive="active">
        <mat-icon svgIcon="plataformas"></mat-icon>
        Plataformas
      </a>

      <!-- Professor -->
      
      <a *ngIf="isProfessor" routerLink="/tecnocomp/meus-modulos" routerLinkActive="active">
        <mat-icon svgIcon="modulos"></mat-icon>
        Módulos
      </a>
      <!-- <a *ngIf="isProfessor" routerLink="/tecnocomp/minhas-plataformas" routerLinkActive="active">
        <mat-icon svgIcon="plataformas"></mat-icon>
        Plataformas
      </a> -->
    </mat-nav-list>

    <div class="caixa-perfil">
      
      <div class="texto">
        <p [title]="getUsuarioDados().username">{{ getUsuarioDados().username | truncate:15}}</p>
        <p style="color: #FFF; opacity: 0.6;" [title]="getUsuarioDados().email">{{ getUsuarioDados().email | truncate:15}}</p>
      </div>
      <mat-icon [matMenuTriggerFor]="menu" style="cursor: pointer;" xPosition="before" yPosition="below">more_vert</mat-icon>

      <mat-menu #menu="matMenu" panelClass="menu-perfil">
        <button mat-menu-item (click)="logout()" class="menu-logout" >
          <img src="../../../assets/icons/logout.svg" alt="ícone de logout">
          <span class="logout-text">Logout</span>
        </button>
      </mat-menu>
    </div>

  </mat-drawer>

  <mat-drawer-content class="main-content">
    <header class="header">
      <img (click)="toggleDrawer()" [src]="this.currentIcone" style="cursor: pointer;" />
      <h1>{{ currentPageTitle }}</h1>
      <!-- <form action="/pesquisa" method="get" class="input-pesquisa">
        <input type="search" placeholder="Pesquisar..." required />
      </form> -->
    </header>

    <div class="container-conteudo">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>