.container {
    height: 100%;
    border-radius: 40px !important;
    background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 0%, rgba(0, 0, 0, 0.09) 32.21%, rgba(19, 0, 41, 0.09) 55.29%, rgba(95, 0, 211, 0.05) 95.21%, rgba(66, 0, 146, 0.05) 100%), #2B2A2E;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.titulo {
    color: #03422F;
    text-align: center;
    /* font-family: var(fontCustom); */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 10px;
}

.mensagem {
    color: #03422F;
    text-align: center;
    padding: 0 1rem;
}

span {
    font-weight: bold;
}

button {
    border-radius: 10px;
    border: none;
    width: 120px;
    height: 35px;
    font-size: 15px;

}

.botoes {
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.salvar {
    background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%);
    color: #fff;
}

.salvar:hover {
    opacity: 50%;
}

.cancelar {
    background-color: transparent;
    border: 3px solid #27A36D;
    color: #27A36D;
}

.cancelar:hover {
    background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%);
    color: #fff;
    border: none;
}

