.container{
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.40);
}
.foto-apoio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #F9FFF9;
}
.foto-apoio img {
  width: 100%;
  height: 100%;
  padding: 40px 0;
}

.texto {
  padding: 50px 20px;
  gap: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: start;
}
.texto p {
  margin-bottom: 16px;
}
.icon {
  text-align: end;
}
.blocos{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  column-gap: 20px;
  justify-content: start;
  align-items: start;
}
.bloco{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #03422F;
  font-size: 15px;
  justify-content: start;
  
}
.bloco h2{
  font-size: 15px;
  
}




@media (max-width: 1100px){
  .texto {
    flex-direction: column;
  }
}
@media (max-width: 800px){
  .blocos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}
@media (max-width: 600px){
  .blocos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 450px){
  .blocos{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .bloco{
    height: 140px;
    padding: 10px;
  }
  .texto p {
    margin-bottom: 5px;
  }
}
