.card-wrapper {
  width: 170px;
  border-radius: 15px;
  background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%), #2F735E;
  padding-top: 7px; /* espessura da "borda" */
}

.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  border-radius: 12px;
  /* border: 0.8px solid #404040; */
  border-radius: 15px;
  background: linear-gradient(180deg, #FFF 0%, #EEFFFC 100%);

  box-shadow: 1px 1px 5.267px 2px rgba(0, 0, 0, 0.15);
  color: #126359;
  /* border-top: 7px solid #2F735E; */
  padding: 15px 0 5px 0;
}

.card-icon {
  padding: 20px 0;
}

.btn {
  width: 100%;
  height: 31.571px;
  padding: 0 20px;
  border-radius: 7px;
  background: linear-gradient(90deg, #27A36D 0%, #116259 100%), #2F735E;

  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}

.btn:hover {
  opacity: 50%;
}

button {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 14px;
}