* {
  color: #FFFFFF;
}



.container-background {
  min-height: 88vh;
  background: #F9FFF9;
}

.cadastro-usuario-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #1E1E1E; */
  height: 88vh;
}

.container-wrapper {
  background: linear-gradient(90deg, #27A36D 0%, #116259 100%);
  border-radius: 40px;
  width: 50%;
  padding-top: 8px !important;
}

.cadastro-usuario-container {
  background: linear-gradient(180deg, #FFF 0%, #EEFFFC 100%);
  box-sizing: border-box;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  border-radius: 40px;
  padding: 0 2.5rem;
}


.cadastro-usuario-aviso {
  padding-top: 20px;
}

.cadastro-usuario-titulo, .cadastro-usuario-label {
    color: #03422F;
    padding: 10px 0;
}

.cadastro-usuario-titulo {
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid #27A36D;
}

.mensagem-validacao {
  font-size: 11px;
  color: #ff4d4f;
  margin-top: -6px; /* puxa a mensagem para cima */
  line-height: 1;
  min-height: 12px;
}

.senha-validacao {
  margin-top: -15px !important;
}

.caixa {
  margin-top: -32px;
  min-height: 12px;
  margin-bottom: 10px;
}

.icon mat-icon:hover {
  cursor: pointer;
}

input.ng-invalid.ng-touched {
  border: 1px solid #ff4d4f;
  outline: none;
}


.cadastro-usuario-label span, .cadastro-usuario-aviso {
  color: #ff4d4f;
}

.campos {
  display: grid;
  grid-template-columns: 50% 50%;
}


.form-conteudo {
  display: flex;
  flex-direction: column;
  width: 92%;
  padding: 5px 0;
}

.cadastro-usuario-input, .icon {
  height: 35px;
 border-radius: 10px;
border: 1px solid #27A36D;
background: #FFF;
  color: #03422F;
  padding-left: 10px;
}

.icon {
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: #03422F;
  padding-left: 10px;
}

.cadastro-usuario-input:focus{
   box-shadow: 0 0 0 0;
   outline: 0;
}

.icon {
  position: relative;
  top: -35px;
  margin-left: auto;
  margin-right: 10px;
}

mat-icon {
  color: #888888;
}

.form-conteudo-tipo {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -20px;
}


.radio-group {
  display: flex;
  column-gap: 20px;
  position: relative;
  left: -10px;
  color: #03422F;
}


.buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding: 10px 0;
  position: relative;
  top: -20px;
}

.buttons button {
  padding: 7px;
  width: 145px;
  border: none;
  color:#888888;
  border-radius: 10px;
  cursor: pointer;
}


.btn-wrapper {
  display: inline-block;
  padding: 2px; /* espessura da borda */
  border-radius: 10px;
  background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%);
}


#botao-um {
  display: block;
  padding: 10px 20px;
  border: none;
  border-radius: 8px; /* menor que o wrapper */
  background: #fff;
  cursor: pointer;
}

#botao-um span {
   background: linear-gradient(90deg, #27A36D, #116259);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#botao-um:hover span {
  background: none; /* remove o gradiente */
  -webkit-text-fill-color: #fff;
  color: #fff;
}



#botao-um:hover {
  background:  linear-gradient(90deg, #27A36D 0%, #2F735E 100%);

}


#botao-dois {
  border-radius: 10px;
   background:  linear-gradient(90deg, #27A36D 0%, #2F735E 100%);
  color: white;
}

#botao-dois:hover {
  opacity: 50%;
}

.check-professor, .check-administrador {
  color: #03422F;
}