<mat-card class="card-topico">
  <mat-card-header >
    <h4 style="height: 42px;align-content: center;">Tópico {{ indice + 1 }}: <span [title]="topico.nome_topico" style="height: 42px; align-content: center; text-align: justify;">{{ topico.nome_topico }}</span></h4>
  </mat-card-header>
  <mat-card-content>
    <div class="box-card-content">
      <p>ID: {{ topico.id }}</p>
      <p>Videos <span>({{ topico.VideoUrls.length }})</span></p>
      <p><a target="_blank" [href]="topico.textoApoio">Slide</a></p>
      <p>Saiba Mais <span>({{ topico.SaibaMais.length}})</span></p>
      <p> <a target="_blank" [href]="topico.ebookUrlGeral">E-book do Tópico</a></p>
      <p>Atividades <span>({{ topico.Exercicios.length}})</span></p>
    </div>

  </mat-card-content>
  <div class="icons-btn">
    <div class="icons">
        <div class="box-icon" [routerLink]="['/editar-topico', topico.id]" [queryParams]="{ id_modulo: idModulo}">
          <img src="../../../../assets/icons/editar-proex.png" class="card-icon">
        </div>
        <div class="box-icon" (click)="abrirConfirmacaoExcluir()">
          <img src="../../../../assets/icons/lixeira-proex.svg" alt="" class="card-icon">
        </div>
    </div>
    <!-- <mat-card-actions>
      <button class="btn" (click)="sincronizarTopico(topico.id || 0)">Ver mais</button>
    </mat-card-actions> -->
  </div>
</mat-card>
