.container {
  /* overflow: hidden; */
  height: 88vh;
  padding: 1.5rem 4rem 1rem 4rem;
  box-sizing: border-box;
  border: none;
  background: #F9FFF9;
  width: 100%;
  position: relative;
}

.novo-topico {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 8px 30px;
  border-radius: 35px;
 
  border-radius: 35px;
  background: linear-gradient(90deg, #FFF 0%, #EEFFFC 100%);

  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

}

.novo-topico p {
  font-size: clamp(1.25rem, 2.5vw, 1.6rem);
  font-weight: bold;
  font-family: var(fontCustom);
  line-height: normal;
  flex-wrap: wrap;
  color: #03422F;
   font-size: 24px;
}

button {
  width: 35px;
  height: 35px;
  border: none;
}

.novo-topico button:hover {
    filter: brightness(70%);
  }

.novo-topico button mat-icon {
  color: white;
}

.topicos-container {
  width: 100%;
}

.container img {
  position: absolute;
  right: 1%;
  bottom: 45%;
  padding-top: clamp(3rem, 4vw, 8rem);
  cursor: pointer;
}

hr {
  border-color: #27A36D;
}

.topicos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding-top: 1.5rem;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.13rem;
  border-radius: 50%;
  background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%), #2F735E;
;
  outline: none;
  border: none;
  cursor: pointer;
}

.botoes-navegacao-topicos-do-modulo {
  display: flex;
  justify-content: center;
  column-gap: 0.63rem;
}

.botao-navegar-cards-topicos-do-modulo {
  border-radius: 0;
  width: 12.5rem;
}

.pagination {
  margin: 0 auto;
  width: 94%;
}

.topicos-container {
  padding-bottom: .5rem;
}