.container {
    height: 100%;
    border-radius: 40px !important;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.titulo {
    color: #03422F;
    text-align: center;
    /* font-family: var(fontCustom); */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 10px;
}

.mensagem {
    color: #03422F;
    text-align: center;
    padding: 0 1rem;
}


button {
    border-radius: 10px;
    /* border: none; */
    width: 120px;
    height: 35px;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
}

.botoes {
    display: flex;
    justify-content: center;
    column-gap: 15px;
}


.btn-wrapper {
  display: inline-block;
  padding: 2px; /* espessura da borda */
  border-radius: 10px;
  background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%);
  box-sizing: border-box;
}


#botao-um {
 border: none;
 background:#fff;
}

#botao-um {
  display: block;
  border: none;
  border-radius: 8px; /* menor que o wrapper */
  background: #fff;
  cursor: pointer;
  box-sizing: border-box;

 
}

#botao-um span {
   background: linear-gradient(90deg, #27A36D, #116259);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#botao-um:hover span {
  background: none; /* remove o gradiente */
  -webkit-text-fill-color: #fff;
  color: #fff;
}

#botao-um:hover {
  background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%), #2F735E;
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;

 
}



#botao-dois {
  border-radius: 8px;
  background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%), #2F735E;
;
    color: #fff;
    border: none;
    padding: 2px;
}

#botao-dois:hover {
  opacity: 50%;
}

button:focus {
  outline: none;
  box-shadow: none;
}