<app-header-voltar texto="Módulo"></app-header-voltar>
<div class="detalhes-modulo-container">
  <div class="box-container" *ngIf="modulo; else carregando">
    <div class="modulo">
      <div class="box-modulo-border">
        <div class="box-modulo">
          <h2>{{ modulo.nome_modulo }}</h2>
          <div class="informacoes">
            <p class="paragrafo">
              <strong>Status: </strong>
              <span [ngClass]="
                  modulo.publicado ? 'status-publicado' : 'status-nao-publicado'
                ">
                {{ modulo.publicado ? "Publicado" : "Não Publicado" }}
              </span>
            </p>
            <div class="publicacoes-e-templates">
              <button [ngClass]="modulo.publicado ? 'nao-publicado' : 'publicado'" class="btn btn-publicar"
                (click)="alterarPublicacao()">
                {{
                modulo.publicado ? "Módulo publicado" : "Módulo não publicado"
                }}
              </button>
              <button [ngClass]="modulo.template ? 'nao-publicado' : 'publicado'" class="btn btn-publicar"
                (click)="templateModulo()">
                {{
                modulo.template ? "Template ativado" : "Template desativado"
                }}
              </button>
            </div>
            <p class="paragrafo">
              <strong>Nome:</strong> {{ modulo.nome_modulo }}
            </p>
            <!-- <p class="paragrafo"><strong>URL: </strong> {{ modulo?.nome_url }}</p> -->

            <!-- <p class="paragrafo"><strong>Id: </strong> {{ modulo?.id }}</p> -->
            <p class="paragrafo">
              <a target="_blank" [href]="modulo.ebookUrlGeral" style="color: #03422F;">Ebook Completo</a>
            </p>
            <p class="paragrafo">
              <a target="_blank" [href]="modulo.video_inicial" style="color: #03422F;">Vídeo Inicial</a>
            </p>
            <p class="paragrafo">
              <strong>UUID:</strong> {{ modulo.uuid }}
              <button mat-icon-button (click)="copiarUUID()">
                <mat-icon>content_copy</mat-icon>
              </button>
            </p>
            
            <div class="coluna-gerenciar">
              <button routerLink="gerenciar-ficha-tecnica">
                Gerenciar Ficha Técnica
              </button>
              <button [ngClass]="{'desabilitar-clonagem-ficha': fichaTecnicaIsEmpty}" (click)="mostrarMensagem()"
                [routerLink]="!fichaTecnicaIsEmpty ? ['/modulo/clonar-ficha-tecnica', modulo?.id] : null">
                Clonar Ficha Técnica
              </button>


              <button routerLink="gerenciar-referencias">
                Gerenciar Referências
              </button>
              <button routerLink="gerenciar-alunos">Gerenciar Alunos</button>
              <a routerLink="/modulo/topicos" class="botao-vizualizar-topicos" [queryParams]="{ id_modulo: modulo.id }"
                style="color: #03422F;">
                Visualizar tópicos
              </a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <ng-template #carregando>
    <div class="loading-container">
      <div class="icon-loading">
        <img src="../../../assets/imgs/uea.png" alt="logo de carregamento tecnocomp" />
      </div>

      <div class="progress-bar">
        <div class="progress"></div>
      </div>
    </div>
  </ng-template>
</div>