.container-card {
  display: flex;
  flex-direction: column;
  width: auto;
  border: none;
  border-radius: 15px;
  background:  linear-gradient(180deg, #FFF 0%, #EEFFFC 100%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  height: 201px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 92%;
  gap: 15px;
  padding-top: 15px;
}

.content mat-icon {
  font-size: 20px;
}

.icons_plataformas {
  display: flex;
  flex-direction: row;
}

.box-icon {
  border-radius: 3.94px;
  /* border: 1.477px solid #535353; */
   background: #fff;
  width: 31.736px;
  height: 27.358px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  cursor: pointer;
}

.box-icon:nth-child(1) {
  margin-right: 16px;
}

mat-card-header {
  height: 45%;
  border: none;
  border-radius: 15px 15px 0 0;
  display: flex;
  background:  linear-gradient(270deg, #116259 0%, #27A36D 100%), #7C4CC6;
;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

mat-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  font-weight: 700;
  padding: 10px 0 0 20px !important;
}

mat-card-subtitle {
  font-size: 1rem;
  font-weight: 400;
  text-align: start;
  color: var(--2-color);
  padding: 10px 0 0 20px !important;
}

.icons_plataformas {
  padding-left: 20px;
}

