<mat-card class="container-card">

  <mat-card-header>
    <mat-card-title [title]="plataforma.plataformaNome">{{ plataforma.plataformaNome | truncate:30 }}</mat-card-title>
  </mat-card-header>

  <mat-card-content class="content">
    <mat-card-subtitle [title]="plataforma.plataformaUrl">{{ plataforma.plataformaUrl |
      truncate:30}}</mat-card-subtitle>
    <div class="icons_plataformas">
      <div class="box-icon" [routerLink]="['/tecnocomp','editar-plataforma', plataforma.id]">
        <img src="../../../../assets/icons/editar-proex.png" class="card-icon one">
      </div>
      <div class="box-icon">
        <img src="../../../../assets/icons/lixeira-proex.svg" class="card-icon" (click)="abrirConfirmacaoExcluir()">
      </div>
    </div>
  </mat-card-content>
</mat-card>