/* CONTAINER GERAL */

.cadastro-container {
  height: 100vh;
  color: #03422F;
  font-family: Inter, sans-serif;
  background: #F9FFF9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

/* LADO ESQUERDO (CARD) */

.cadastro-esquerda {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LADO DIREITO (ILUSTRAÇÃO) */

.cadastro-direita {
  height: 100%;
}

.img-cadastro {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CARD CADASTRO */

.card-cadastro {
  width: 100%;
  padding: 40px 55px 36px;
  border-radius: 40px;
  background: linear-gradient(180deg, #FFFFFF 0%, #EEFFFC 100%);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.borda-topo {
  background: linear-gradient(
    90deg,
    #27A36D 0%,
    #116259 100%
  );
  border-radius: 40px;
  padding-top: 8px;
  width: 100%;
  max-width: 705px;
  display: flex;
}

/* TÍTULO E TEXTO */

.card-cadastro h2 {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.texto-cadastro {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #27A36D;
}

/* FORM */

.forms {
  margin-top: 32px;
}

.campos {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.cadastro-conteudo {
  display: flex;
  flex-direction: column;
  padding: 3px 0 7px;
}

.cadastro-conteudo label {
  color: #03422F;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* INPUTS */

.cadastro-conteudo input {
  background-color: #FFFFFF;
  border-radius: 10px;
  border: none;
  color: #27A36D;
  padding: 9px 14px;
  font-size: 14px;
  border: 1px solid #27A36D;
}

.cadastro-conteudo input::placeholder {
  color: #a2a2a2;
}

/* GRUPO DE SENHA (2 COLUNAS) */

.senha-grupo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.input-senha input{
  width: 100%;
}

.input-senha {
  position: relative;
  display: flex;
  align-items: center;
}

.input-senha .icon {
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  left: 90%;
  background: none;
  border: none;
  cursor: pointer;
}

.input-senha .icon mat-icon {
 color: #888888;
}

.input-senha .icon.ativo mat-icon {
  color: #27A36D;
}

/* MENSAGENS DE ERRO */

.invalid {
  color: #f84c4c;
  margin-top: 6px;
  font-size: 13px;
}

/* BOTÕES  */
.botoes-acao {
  display: flex;
  gap: 25px;
  margin-top: 50px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.wrapper {
  background-color: transparent;
  width: 100%;
  height: 35px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
}

button {
  display: flex; /* garante alinhamento pelo flex */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  padding: 0 5px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: 700;
  margin-top: 0;
}

/* botão cadastrar */
.botao-cadastrar {
  background: linear-gradient(90deg, #27A36D 0%, #116259 100%);
  color: #ffffff;
  /* border: 3px solid #7C4CC6; */
}

.botao-cadastrar:hover {
  background: transparent;
  background:
    linear-gradient(#FFFFFF, #FFFFFF) padding-box,
    linear-gradient(90deg, #27A36D 0%, #116259 100%) border-box;
  border: 3px solid transparent;
  font-weight: 700;
  color: #116259;
}

/* botão outline (Não possuo uma conta) */
.button-two {
  background: transparent;
   background:
    linear-gradient(#FFFFFF, #FFFFFF) padding-box,
    linear-gradient(90deg, #27A36D 0%, #116259 100%) border-box;
  border: 3px solid transparent;
  font-weight: 700;
  color: #116259;
}

.button-two:hover {
  background: linear-gradient(90deg, #27A36D 0%, #116259 100%);
  color: #ffffff;
  border: none;
}



/* RESPONSIVIDADE PARA CADASTRO */
@media (max-width: 1200px) {

  .cadastro-direita {
    display: none;
  }


  .cadastro-container {
    justify-content: center;
    align-items: center;
  }

  .cadastro-esquerda {
    flex: none;
    width: 100%;
    justify-content: center;
  }


  .card-cadastro {
    max-width: 650px;
    padding: 32px 26px 28px;
  }


  .senha-grupo {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .input-senha .icon {
    left: 94%;
  }

}
