<div class="box">
  <div class="login-container">
    <!-- LADO ESQUERDO (ilustração) -->
    <div class="login-esquerda">
      <img
        src="assets/imgs/capa-de-login.svg"
        alt="Capa de login"
        class="imagem-login"
      />
    </div>

    <!-- LADO DIREITO (CARD) -->
    <div class="login-direita">
      <div class="borda-topo">
      <div class="card-login">
        <form id="form" class="forms" [formGroup]="loginForm">
          <div class="div-header">
            <h2 class="titulo-login">Login</h2>
            <p class="texto-login">
              Insira seus dados abaixo para acessar sua conta.
            </p>
          </div>

          <!-- CAMPOS -->
          <div class="campos">
            <div class="form-conteudo">
              <label for="idemail">E-mail</label>
              <input
              [ngClass]="{'error-login': errorLogin}"
                type="email"
                id="idemail"
                formControlName="email"
                placeholder="Digite seu E-mail"
              />
            </div>

            <div class="form-conteudo">
              <label for="idsenha">Senha</label>
              <div class="input-senha">
                <input
                [ngClass]="{'error-login': errorLogin}"
                  [type]="hide ? 'password' : 'text'"
                  id="idsenha"
                  formControlName="senha"
                  placeholder="Digite sua senha"
                />

                <button type="button" class="icon" (click)="hide = !hide" [class.ativo]="!hide">
                  <mat-icon>
                    {{ hide ? "visibility_off" : "visibility" }}
                  </mat-icon>
                </button>
              </div>

              <a class="senha-esquecida" routerLink="/forgot-password">
                Esqueci minha senha.
              </a>
            </div>
          </div>

          <!-- ERROS -->
          <div class="campo-formulario" *ngIf="submitted">
            <p
              class="campo-formulario invalid"
              *ngIf="
                loginForm.get('email')?.errors?.['required'] ||
                loginForm.get('senha')?.errors?.['required']
              "
            >
              Preencha todos os campos!
            </p>
          </div>
          <!-- <p class="campo-formulario invalid" *ngIf="errorLogin">
            Email ou senha incorretos!
          </p> -->
          <div class="div-bottom">
            <!-- BOTÕES PRINCIPAIS -->
            <div class="botoes-acao">
              <!-- <div class="wrapper">
                <button
                  type="button"
                  class="button-two"
                  routerLink="/cadastrar"
                >
                  Não possuo uma conta
                </button>
              </div> -->
              <div class="wrapper-entrar">
                <button
                  type="submit"
                  class="button-entrar"
                  (click)="onSubmit()"
                >
                  Entrar
                </button>
              </div>
            </div>
            <!-- DIVISOR "OU" -->
            <div class="linha">
              <span class="linha-traco"></span>
              <span class="linha-texto">ou</span>
              <span class="linha-traco"></span>
            </div>
            <!-- GOOGLE LOGIN (mantido) -->
            <div
              id="g_id_onload"
              data-client_id="856213394254-4kr87eq72lj2en4t3sup1nqgjr2mnltl.apps.googleusercontent.com"
              data-callback="handleCredentialResponse"
              data-auto_prompt="false"
              data-scope="https://www.googleapis.com/auth/userinfo.profile"
              data-hd="uea.edu.br"
            ></div>

            <div class="google-container">
              <div
                class="g_id_signin"
                data-type="standard"
                data-size="large"
                data-theme="outline"
                data-text="sign_in_with"
                data-shape="rectangular"
                data-width="600"
                data-logo_alignment="left"
              ></div>
            </div>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
