.login-container {
  box-sizing: border-box;
  height: 100vh;
  color: #03422F;
  background: #F9FFF9;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

/* LADO ESQUERDO */

.login-esquerda {
  height: 100%;
}

.imagem-login {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* LADO DIREITO */

.login-direita {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* CARD */

.card-login {
  width: 100%;
  height: 65%;
  max-width: 530px;      /* tamanho fixo máximo */
  /* min-height: 520px; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* max-width: 536px; */
  padding: 32px 48px 32px 48px;
  border-radius: 40px;
  background: linear-gradient(180deg, #FFFFFF 0%, #EEFFFC 100%);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.borda-topo {
  background: linear-gradient(
    90deg,
    #27A36D 0%,
    #116259 100%
  );
  border-radius: 40px;
  padding-top: 8px;
  width: 100%;
  max-width: 605px;
  display: flex;
}

/* TÍTULO E TEXTO */

.titulo-login {
  margin: 0;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.texto-login {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #27A36D;
}

/* FORM */

.forms {
  /* margin-top: 8px; */
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.campos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding-top: 10px;
}

.form-conteudo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-conteudo label {
  font-size: 16px;
  font-weight: 700;
}

.form-conteudo input {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  padding: 0px 14px;

  font-size: 14px;
  font-weight: 400;
  color: #27A36D;

  border-radius: 10px;
  border: 1.5px solid #27A36D;
  background-color: #FFFFFF;
}

/* BOTÃO DO OLHO */

.input-senha {
  position: relative;
  width: 100%;
}

.input-senha .icon {
  position: absolute;
  left: 94%;
  top: 15%;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.input-senha .icon mat-icon {
 color: #888888;
}

.input-senha .icon.ativo mat-icon {
  color: #27A36D;
}

/* LINK ESQUECI MINHA SENHA */

.senha-esquecida {
  margin-top: 1px;
  margin-bottom: 14px;
  font-size: 14px;
  color: #27A36D;
  text-decoration: none;
}


.senha-esquecida:hover {
  text-decoration: underline;
}

/* ERROS */

.invalid {
  color: #f84c4c;
  margin-top: 8px;
  font-size: 13px;
}

/* BOTÕES PRINCIPAIS */

.botoes-acao {
  display: flex;
  gap: 30px;
  /* padding: 39px 0 0; */
  box-sizing: border-box;
}

 .wrapper, .wrapper-entrar {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 7px;
    margin-top: 12px;
    /* border: 3px solid #7c4cc6; */
 }

.wrapper:hover {
  background: linear-gradient(90deg, #27A36D 0%, #116259 100%);

}


button {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 8px 8px;
  border-radius: 7px;
  margin-top: 12px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: 700;
}

/* botão roxo (Entrar) */
.button-entrar {
  background: linear-gradient(90deg, #27A36D 0%, #116259 100%);
  color: #ffffff;
  border: none;
  /* border: 3px solid transparent; */
  position: relative;
  top: -12px;
}

.button-entrar:hover {
  background:
    linear-gradient(#FFFFFF, #FFFFFF) padding-box,
    linear-gradient(90deg, #27A36D 0%, #116259 100%) border-box;
  border: 2px solid transparent;
  color: #116259;
}

/* botão (Não possuo uma conta) */

.button-two {
    background:
    linear-gradient(#FFFFFF, #FFFFFF) padding-box,
    linear-gradient(90deg, #27A36D 0%, #116259 100%) border-box;
  border: 3px solid transparent;
  position: relative;
  top: -12px;
  color: #116259;
}

.button-two:hover {
 background: linear-gradient(90deg, #27A36D 0%, #116259 100%);
  color: #ffffff;
  border: none;
}

/* DIVISOR "OU" */

.linha {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 18px 0 18px;
}

.linha-traco {
  border: 1px solid #27A36D;
  width: 100%;
}

.linha-texto {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.15em;
  color: #27A36D;
}

.div-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 33%; */
}



.form-conteudo input.ng-valid {
  background: #FFFFFF;
}

.error-login {
  border: 1px solid #ff4d4f !important;
  outline: none;
}

input.ng-invalid.ng-touched {
  border: 1px solid #ff4d4f;
  outline: none;
}

/* GOOGLE */

.google-container {
  display: flex;
  justify-content: center;
}

/* RESPONSIVO - esconder imagem e centralizar card */
@media (max-width: 1200px) {
  .login-esquerda {
    display: none;
  }

  .login-container {
    justify-content: center;
    align-items: center;
  }

  .login-direita {
    width: 100%;
    justify-content: center;
  }

  .card-login {
    max-width: 530px;
    padding: 32px 36px 28px;
  }

  .input-senha .icon {
    left: 92%;
  }
}
