.container-main-conteudo-links-voltar {
  display: flex;
  align-items: center;
  color: white;
  height: 9vh;
  background-color: #fff;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: 0 auto;
}

.link-proximo {
  display: inline-grid;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  /* column-gap: 10px; */
  /* width: fit-content; */
  cursor: pointer;
  background: linear-gradient(90deg, #2F735E 0%, #196D53 100%), #2F735E;
  height: 40px;
  width: 229px;
  border-radius: 6px;
}


.link-voltar {
  grid: 1;
  justify-self: start;
}

.link-proximo {
  margin-left: auto;
}

.link-voltar {
  display: inline-grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  text-decoration: none;
   font-size: 18px;
  column-gap: 10px;
  /* padding-left: 20px; */
  /* padding-bottom: 10px; */
  justify-self: start;
  cursor: pointer;
  background: linear-gradient(90deg, #2F735E 0%, #196D53 100%), #2F735E;
  height: 40px;
  width: 229px;
  border-radius: 6px;
}
.container-links {
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.sozinho-proximo {
  justify-self: end;
}
.opactiy-active {
  opacity: 0.5;
}


.mat-mdc-progress-spinner {
  background-color: #281446;
}
.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #58db43;
}
.progress-spinner {
  position: absolute;
  top: 43%;
  right: 10%;
  font-size: 16px;
}

.voltarCss {
  display: none;
}


@media (max-width: 800px) {
  .header nav {
    width: auto;
  }
}

@media (max-width: 600px){
  .container-foto-header{
    margin: 0  0 0 1rem;
  }
  #icon{
    margin-right: 1rem;
  }

  .container-main-conteudo-links-voltar {
    height: auto;  
  }

}

.button-finalizar-box {
  margin-left: 20px;
  display: flex;
  height: 40px;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;
}


@media(max-width: 375px){
  .header .logo{
    padding: 10px 0;
  }
  /* .container-main-conteudo-links-voltar{
    padding-top: calc(18% - 5px);
} */
}

@media(max-width: 350px){
  .link-proximo, .link-voltar{
    font-size: 12px;
  }
  .header .logo{
    padding: 15px 0;
  }
}