
.titulo-dialog {
    width: 87%;
    color: #03422F;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0 25px 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 2px solid #27A36D;
}

.container-inputs, .form-field {
    display: flex;
    flex-direction: column;

}

.container-inputs {
    width: 93%;
    margin: 0 auto;
    row-gap: 18px;
}

.label {
    color: #03422F;
    padding-bottom: 5px;
}

input {
    height: 40px;
    border: 1px solid #27A36D;
    border-radius: 10px;
    background-color: #fff;
    color: #27A36D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 12px;
}

input::placeholder {
    color: #767676;
}

.botoes {
    display: flex;
    justify-content: center;
    column-gap: 31px;
}

.botoes button {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}


.cancelar {
    border: 3px solid #27A36D;
    background-color: transparent;
    color: #27A36D;
}

.cancelar:hover {
    border: none;
    background: linear-gradient(90deg, #27A36D 0%, #116259 100%);
    color: #FFF !important;
}


.salvar {
    border: none;
    background: linear-gradient(90deg, #27A36D 0%, #116259 100%);
    color: #FFFFFF;

}

.salvar:hover {
    opacity: 50%;
}
