<div>
  <h1 class="titulo-dialog">
  {{ data.descricao ? 'Editar Referência' : 'Adicionar Referência' }}
</h1>

<mat-dialog-content class="conteudo">
  <div class="container-inputs">
    <div class="form-field">
    <label class="label">Título</label>
    <input
      [(ngModel)]="descricao"
      placeholder="Digite o título da referência"
    />
    </div>

  <div class="form-field">
    <label class="label">URL (opcional)</label>
    <input
      [(ngModel)]="link"
      placeholder="https://exemplo.com"
    />
  </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions class="botoes">
  <button class="cancelar" (click)="cancelar()">Cancelar</button>
  <button class="salvar" (click)="salvar()">Salvar</button>
</mat-dialog-actions>

</div>
