<div class="container-background">
  <div class="container-perfil">
  <section class="informacoes">
    <img src="../../../assets/icons/icone-perfil.svg" alt="" style="width: 147px; height: 147px;">
    <div class="informacoes-bloco-dois">
      <div class="informacoes-usuario">
      <p class="cargo">
        {{ dadosUsuario().username }}
      </p>
      <button [routerLink]="['/tecnocomp','editar-perfil']">
        <img src="../../../assets/icons/icone-editar-proex.svg" alt="ícone de editar-perfil">
      </button>
    </div>
    <div class="perfil-dados">
      <p><strong class="txt-email">Email:</strong> <span id="email"> {{ dadosUsuario().email }}</span></p>
      <p id="texto-cargo">{{ dadosUsuario().tipo === 'adm' ? 'Administrador' : 'Professor' }}</p>
    </div>
    </div>
    
  </section>
  <mat-divider></mat-divider>
  <section class="minhas-plataformas" *ngIf="dadosUsuario().tipo === 'adm'">
    <div class="titulo">
      <h1>Minhas Plataformas: <span class="total-itens">{{ paginationPlataformas.totalItems }} </span></h1>
      <button routerLink="/tecnocomp/cadastros/cadastro-plataforma" style="width: 28px; height: 28px;" class="icone-adicionar-grad">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="container-cards-plataformas">
      <div *ngFor="let plataforma of plataformas">
        <app-cards-plataformas
        [plataforma]="plataforma"
        (excluirPlataforma)="excluirPlataforma($event)"
      ></app-cards-plataformas>
      </div>
    </div>

    <!-- Componente de paginação para plataformas -->
    <app-pagination 
    class="pagination"
      [pagination]="paginationPlataformas"
      noItemsMessage="Nenhuma plataforma encontrada"
      itemsLabel="plataformas"
      (pageChange)="onPlataformaPageChange($event)">
    </app-pagination>

  </section>
  <mat-divider></mat-divider>
  <section class="meus-modulos">
    <div class="titulo">
      <h1>Meus Módulos: <span class="total-itens">{{ paginationModulos.totalItems }}</span></h1>
      <button routerLink="/tecnocomp/cadastros/registrar-modulo" style="width: 28px; height: 28px;" class="icone-adicionar-grad">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="container-cards-modulos">
      <div class="card" *ngFor="let modulo of modulos">
        <app-cards-modulos
          [modulo]="modulo"
          (excluirModulo)="excluirModulo($event)"
        ></app-cards-modulos>
      </div>
    </div>

    <!-- Componente de paginação para módulos -->
    <app-pagination 
    
      [pagination]="paginationModulos"
      noItemsMessage="Nenhum módulo encontrado"
      itemsLabel="módulos"
      (pageChange)="onModuloPageChange($event)">
    </app-pagination>
  </section>
</div>

</div>