<div class="container">
  <header class="header">
    <img style="height: 57px;" src="assets/imgs/logo-mboepi-uea.svg" alt="PROEX LOGO" [routerLink]="voltar()"/>
    <div class="links">
            <a
              class="btn-ficha"
              [routerLink]="['/ver-ao-vivo', verAoVivoService.dados_completos.id]" routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: true }"
            >
              Início
            </a>
            <a
              class="btn-ficha"
              [routerLink]="['/ver-ao-vivo', verAoVivoService.dados_completos.id, 'ficha-tecnica']"
               routerLinkActive="ativo"
            >
              Ficha Técnica
            </a>
            <a
              class="btn-ficha"
              [routerLink]="['/ver-ao-vivo', verAoVivoService.dados_completos.id, 'sobre']"
               routerLinkActive="ativo"
            >
              Sobre
            </a>
          </div>
    <div class="end-navbar">

      <div
        *ngIf="this.verAoVivoService.perfilUser == false"
        class="container-foto-header"
      >
        <div class="foto-header">
          {{ this.getUsuarioDados().username[0] }}
        </div>
        <mat-icon
          style=" cursor: pointer"
          (click)="this.verAoVivoService.abreMenuUser(); $event.stopPropagation()"
        >
          keyboard_arrow_down
        </mat-icon>
      </div>
      <app-perfil-user 
        *ngIf="this.verAoVivoService.perfilUser == true"
      ></app-perfil-user>
    </div>
  </header>
</div>

