/* @font-face {
  font-family: minhaFonte;
  src: url("../../../../../assets/fonteProjetoLinks.ttf");
} */

.container {
  width: 100%;
  position: fixed;
  background: #000;
  box-sizing: border-box;
  /* z-index: 1; */
}
.header {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-image: url('../../../../../assets/imgs/fundo_header.svg');
  background-size: cover;
}
.header img {
  max-height: 5rem;
  width: 203.61px;
  padding: 5px 0;
  margin-left: .5rem;
  cursor: pointer;
}
.header nav {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 3.63rem;
}
.header nav ul {
  display: flex;
  align-items: center;
}
.header ul li {
  list-style: none;
}
.header ul li button {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: white;
}
.end-navbar {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 180px;
  justify-content: end;
}
.container-foto-header {
  display: flex;
  padding: 2px;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  background: #fff;
  margin-right: 20px;
  
}
.foto-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 28px;
  border: 1px solid rgba(0, 102, 50, 1);
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


a {
  display: inline-block;
  height: 100%;
  align-content: center;
  text-decoration: none;
}

.links {
  display: flex;
  gap: 3.63rem;
  padding-top: 5px;
  align-items: center;
}

.btn-ficha, .btn-home, .btn-sobre {
  color: #FFFFFF86;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  font-size: 1rem;
  font-weight: 700;
  
}

.btn-ficha.ativo {
  border-bottom: 3px solid #fff !important;
  color: #fff;
}

.btn-home.ativo {
  border-bottom: 3px solid #fff !important;
  color: #fff;
}

.btn-sobre.ativo {
  border-bottom: 3px solid #fff !important;
}

.btn-ficha:hover, .btn-home:hover, .btn-sobre:hover {
  border-bottom: 3px solid #fff;
  /* padding-bottom: 3px */
  
  
}



/* Responsivo */
/* Começa a quebrar com 900px de width, implementar o menu hamburguer */
@media (max-width: 900px) {
}
