<h2 class="titulo">{{ isEditando ? 'Editar Membro' : 'Novo Membro' }}</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div class="caixa first">
    <mat-label class="nome-membro">Nome</mat-label>
    <input class="input" [(ngModel)]="nome" placeholder="Digite o nome do membro"/>
  </div>

  <div class="caixa">
    <mat-label class="cargo-membro">Cargo</mat-label>
    <input class="input" [(ngModel)]="cargo" placeholder="Digite o cargo do membro" />
  </div>

  <!-- <mat-form-field style="width: 100%;">
    <mat-label>URL da Foto (opcional)</mat-label>
    <input matInput [(ngModel)]="foto_url" />
  </mat-form-field> -->
</mat-dialog-content>

<mat-dialog-actions>
  <div class="botoes">
    <div class="btn-border">
      <button class="cancelar" (click)="cancelar()">Cancelar</button>
    </div>
    <button class="criar" (click)="confirmar()" [disabled]="!nome.trim() || !cargo.trim()">
      {{ isEditando ? 'Salvar' : 'Adicionar' }}
    </button>
  </div>
</mat-dialog-actions>
