.container {
  min-height: 88vh;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.com-equipe {
    align-items: initial;
    justify-content: initial;
    padding-left: 10px;

    .caixa {
        text-align: left;
    }
}

.caixa {
    width: 95% !important;
    margin: 0 auto;
    text-align: center;
}


.botao-adicionar-equipe {
    width: 247px;
    height: 40px;
    border-radius: 7px;
    background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%);
    border: none;
    color: #FFF;
}

.botao-adicionar-equipe:hover {
    opacity: 50%;
    cursor: pointer;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
    background: linear-gradient(180deg, #FFFFFF 0%, #EEFFFC 100%) !important;
    border: 1px solid #27A36D !important;
    border-radius: 15px !important;
}

.mat-expansion-panel-header-title {
    color: #03422F;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child {
    background: linear-gradient(180deg, #FFFFFF 0%, #EEFFFC 100%) !important;
}


.mat-accordion .mat-expansion-panel:last-of-type {
    background: linear-gradient(180deg, #FFFFFF 0%, #EEFFFC 100%) !important;
    border-radius: 15px !important;
}

.adicionar-membro, .remover-equipe {
    width: 202px;
    height: 40px;
    border-radius: 7px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.adicionar-membro {
    background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%);
    border: none;
    color: #FFF;
}

.adicionar-membro:hover {
    opacity: 50%;
}

.remover-equipe  {
    color: #E45A5A;
    border: 2px solid #E45A5A;
    background-color: transparent;
    border-radius: 10px;
}

.remover-equipe:hover {
    background-color: #E45A5A;
    color: #FFF;
}

.caixa-botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    padding: 20px;
    background: linear-gradient(180deg, #FFFFFF 0%, #EEFFFC 100%);
}

.nenhuma-equipe {
    color: #888888;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;
}

.lista-membros {
   background:transparent;
}

.lista-membros, .caixa-perfil {
    display: flex;
    align-items: center;
}

.caixa-perfil {
    column-gap: 20px;
    padding-left: 20px;

}

.text-muted {
    color: #03422F;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.caixa-perfil, .acoes-membros {
    width: 50%;
}

.acoes-membros {
    display: flex;
    justify-content: end;
    column-gap: 20px;
    padding-right: 20px;
    padding: 5px 20px 5px 0;
}


.editar-ref, .excluir-ref {
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.acoes-membros button {
    background-color: transparent;
    border: none;
}


/* .lista-membros {
    margin-bottom: 10px;
} */
