<app-header-recursos-complementares texto="Saiba Mais" icone="../../../../assets/icons/saiba-mais-header.svg"></app-header-recursos-complementares>
<section class="container-links-text">
  <p id="container-links-text-frase">Na seção Saiba Mais, você pode explorar informações detalhadas sobre o tópico atual. Este é o lugar ideal para expandir seu conhecimento e descobrir mais sobre o assunto.</p>
  <!-- ngFor que percorre o vetor de objetos que contém descrição e link de informaçõoes adicionais -->
  <div class="container-links-text-caixa" *ngFor="let item of saibaMais">
    <div class="container-links-text-caixa-descricao-conteudo">
      <img src="../../../../assets/icons/yt-icone.svg" alt="imagem da logo do youtube">
      <p class="container-links-text-caixa-descricao1">Descrição:</p>
    </div>
      <!-- a cada iteração do ngFor tem uma descrição e um link diferente sendo exibido -->
      <p class="container-links-text-caixa-descricao2">{{ item.descricao }}</p>
      <a target="_blank" [href]="item.url">clique aqui</a>
  </div>
</section>
