
.container-foto-header-active {
  display: inline-flex;
  padding: 14px 1px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgba(57, 169, 53, 1);
  background-color: #2F735E;
  position: fixed;
  right: 2%;
  top: 2%;
  width: 277px;
  padding-bottom: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid rgba(57, 169, 53, 1);
  background: #fff;
}

.nome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.nome p {
  color: #03422F;
  margin-top: 15px;
}

.cima {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  color: #03422F;
}
.cima-p {
  margin-left: 15px;
  color: #03422F;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.meio {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 5px;
  color: var(--30, #03422F);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.foto-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 28px;
  border: 3px solid rgba(57, 169, 53, 1);
  margin: 0 auto;
  color: #03422F;
  font-size: 31.395px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.nome-info p {
  color: var(--Terciaria, #03422F);
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nome-info .email {
  color: #a3a3a3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
