<app-header-voltar texto="Gerenciar Referências"></app-header-voltar>
<div class="container" style="padding: 16px 60px" [ngClass]="{'com-referencia': referencias.length > 0}">

  <div>
    <button class="botao-add-ref" (click)="adicionarReferencia()">
      Adicionar Referência
    </button>
  </div>

  <ul *ngIf="referencias.length > 0; else semReferencias" class="container-referencias">
    <li *ngFor="let referencia of referencias">
        <div class="referencia-texto">
          <p class="descricao">
            <strong>{{ referencia.descricao }}</strong>
          </p>

        </div>
        <div class="acoes">
          <button *ngIf="referencia.link" class="botao-acessar-referencia">
            <a href="{{ referencia.link }}" target="_blank" class="link-acessar">Acessar</a>
          </button>
          <button class="botao-editar"
            (click)="editarReferencia(referencia)"
          >
            <img class="editar-ref" src="../../../assets/icons/editar-proex.png" alt="">
          </button>
          <button
          class="botao-excluir"
          (click)="deletarReferencia(referencia.id)"
          >
            <img class="excluir-ref" src="../../../assets/icons/lixeira-proex.svg" alt="">
          </button>
        </div>
      </li>
  </ul>

  <ng-template #semReferencias>
    <p class="sem-referencia">Nenhuma referência cadastrada ainda.</p>
  </ng-template>
</div>
