@import './styles_rott.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


html, body, button, a, input::placeholder, input {
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family:  'Inter';
}

body {
  background: #fff;
}
html, body { height: 100%; }
body { margin: 0;  }

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.mat-mdc-dialog-container {
  background: transparent !important;
}

.dialog-custom .mat-mdc-dialog-surface, .dialog-remove-custom .mat-mdc-dialog-surface {
  background: linear-gradient(180deg, #FFFFFF 0%, #EEFFFC 100%) !important;
  border-radius: 40px !important;
  border-top: 3px solid #27A36D !important;
  overflow: hidden !important;
}

.add-equipe-custom .mat-mdc-dialog-surface, .dialog-remove-custom .mat-mdc-dialog-surface, .dialog-criar-membro .mat-mdc-dialog-surface{
  background: linear-gradient(180deg, #FFFFFF 0%, #EEFFFC 100%) !important;
  border-radius: 40px !important;
  border-top: 7px solid #27A36D;
}

.mat-mdc-dialog-content {
  background: transparent !important;
  padding: 10 !important;
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mdc-label {
  color: #03422F;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-selected-icon-color: #259E6B;
  --mdc-radio-selected-focus-icon-color: #259E6B;
  --mdc-radio-selected-hover-icon-color: #259E6B;
  --mdc-radio-selected-pressed-icon-color: #259E6B;
  --mat-radio-checked-ripple-color: #259E6B;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
  background-color: transparent !important;
  border-color: #ffff !important;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  border-color: #ffff !important;
}

/* .logo img {
  width: 159.091px;
  height: 50px;
  margin-bottom: 15px;
} */

.logo h3 {
  width: fit-content;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: #767676 !important;
}

.mat-accent {
  --mat-option-selected-state-label-text-color: transparent !important;
  --mdc-checkbox-selected-focus-state-layer-color: transparent !important;
  --mdc-checkbox-selected-hover-state-layer-color: transparent !important;
  --mdc-checkbox-selected-pressed-state-layer-color: transparent !important;
  --mdc-checkbox-selected-focus-icon-color: transparent !important;
  --mdc-checkbox-selected-hover-icon-color: transparent !important;
  --mdc-checkbox-selected-icon-color: transparent !important;
  --mdc-checkbox-selected-pressed-icon-color: transparent !important;
}

.mat-step-icon {
  background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%) !important;
}

html {
  --mat-stepper-line-color: #2B8965 !important;
  --mat-stepper-header-selected-state-icon-background-color: linear-gradient(90deg, #27A36D 0%, #2F735E 100%) !important;
}

.mat-step-icon-state-number {
  background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%) !important;
  opacity: 50% !important;
}

.mat-step-icon-selected {
  background:  linear-gradient(90deg, #27A36D 0%, #2F735E 100%) !important;
  opacity: 100% !important;
}

.mat-stepper-horizontal-line {
  width: 385px !important;
  margin: 0 -25px !important;
  border-top-width: 2.5px !important;
}

.mat-mdc-card-header {
  padding: 0 !important;
}

.snackbar-custom button.mat-mdc-snack-bar-action {
  color: #03422F !important;
  background: linear-gradient(180deg, #FFF 0%, #EEFFFC 100%) !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label, .mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background: linear-gradient(180deg, #FFF 0%, #EEFFFC 100%) !important;
  color: #03422F !important;
  border-radius: 10px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__shadow {
  background-color: #03422F;
}

.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__track::after {
  background-color: #2B2A2E !important;
}

.mat-mdc-slide-toggle {
  --mdc-switch-selected-hover-state-layer-color: #7C4CC6;
  --mdc-switch-selected-focus-state-layer-color: #7C4CC6;
  --mdc-switch-selected-pressed-state-layer-color: #7C4CC6;
}

.mat-expansion-panel-body {
  background: linear-gradient(180deg, #FFFFFF 0%, #EEFFFC 100%);
  border-bottom: 1.5px solid #27A36D;
  border-left: 1.5px solid #27A36D;
  border-right: 1px solid #27A36D;
  padding: 0 !important;
}

.mat-expansion-indicator::after {
  color: #FFF !important;
  margin-left: 9px;
  margin-top: 5px;
}

.mat-expansion-indicator {
  width: 26.627px;
  height: 26.627px;
  border-radius: 50%;
  background: linear-gradient(90deg, #27A36D 0%, #2F735E 100%);
}

.mat-mdc-card-content:last-child {
  padding: 0 !important;
}

.cardClonagemFicha .mat-mdc-dialog-surface, .cardExclusao .mat-mdc-dialog-surface {
    border-radius: 40px !important;
    background: linear-gradient(180deg, #FFFFFF 0%, #EEFFFC 100%) !important;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    border-top: 5px solid #27A36D !important;
}



/* daqui para baixo é mudança do Ruan */

.mat-mdc-menu-content {
  border-radius: 10px !important;
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 0%, rgba(0, 0, 0, 0.09) 32.21%, rgba(19, 0, 41, 0.09) 55.29%, rgba(95, 0, 211, 0.05) 95.21%, rgba(66, 0, 146, 0.05) 100%), #2B2A2E;
  padding: 0 !important;
  width: 200px;
  margin-bottom: 10px;
}

.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  color: var(--0-color);
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 20px !important;
  border-radius: 10px;

}


.cdk-overlay-container {
  position: fixed;
  z-index: 10000;
}

.mat-mdc-menu-content .mat-mdc-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background: linear-gradient(180deg, #FFF 0%, #EEFFFC 100%);
  color:#03422F !important;
}

.mat-mdc-menu-content .mat-mdc-menu-item:hover {
  border-radius: 7px;
  background: linear-gradient(90deg, #27A36D 0%, #116259 100%), #7C4CC6;
  
  transition: background-color 0.3s ease !important;
  .mat-mdc-menu-item-text {
    color: #fff !important;
  }
}

.cdk-overlay-connected-position-bounding-box {
  margin-left: 25px;
  top: 547px !important;
}

.mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8 {
  background: linear-gradient(180deg, #FFF 0%, #EEFFFC 100%);
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.mat-mdc-menu-item-text {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color:#03422F !important;
}

/* .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 40px !important;
  border-top: 4px solid #7C4CC6;

  background: linear-gradient(0deg, #2B2A2E, #2B2A2E),
    linear-gradient(111.51deg, rgba(18, 0, 96, 0.1) 0%, rgba(0, 0, 0, 0.0942254) 32.21%, rgba(19, 0, 41, 0.0855326) 55.29%, rgba(95, 0, 211, 0.05) 95.21%, rgba(66, 0, 146, 0.05) 100%) !important;
}

.mat-mdc-text-field-wrapper {
  background: var(--input-color) !important;
  border-radius: 10px !important;
  height: 40px !important;
}

.mat-mdc-dialog-container .mdc-dialog__content {
  padding: 0 46px !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 7px !important;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #03422F !important;

  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;

  background: #fff !important;

  transition: background-color 5000s ease-in-out 0s;
}
